<template>
    <div class="container">
        <form method="post" action="/pakket-aanmelden">
            <input type="hidden" name="_token" v-bind:value="csrf">
            <div class="row">
                <div class="form-group col-md-6">
                    <label style="font-weight: bold; font-size: 18px"  for="exampleInputEmail1">Verzenden naar</label>
                </div>
                <div class="form-group col-md-6">
                    <label style="font-weight: bold; font-size: 18px"  for="exampleInputEmail1">Pakket informatie</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Straat</label>
                    <input type="text" name="ophaal_straat" class="form-control" id="ostraat" aria-describedby="emailHelp" placeholder="Straat">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputPassword1">Afmeting</label>
                    <select v-model="afemting">
                        <option disabled value="">maak een keus</option>
                        <option>38. 26,5. 3,2</option>
                        <option>176. 78. 58</option>
                    </select>

                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail1">Postcode</label>
                    <input type="text" name="ophaal_postcode" class="form-control" id="opostcode" aria-describedby="emailHelp" placeholder="Postcode">
                </div>
                <div class="form-group col-md-2">
                    <label for="exampleInputEmail1">Huisnummer</label>
                    <input type="text" name="ophaal_huisnummer" class="form-control" id="ohuisnummer" aria-describedby="emailHelp" placeholder="Huisnummer">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Woonplaats</label>
                    <input type="text" name="ophaal_woonplaats" class="form-control" id="woonplaats" aria-describedby="emailHelp" placeholder="Woonplaats">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Gewicht (kg)</label>
                    <select v-model="gewicht">
                        <option disabled value="">maak een keus</option>
                        <option>0 tot 12.5 kg</option>
                        <option>12.5 tot 25 kg</option>
                        <option>25 tot 50 kg</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label style="font-weight: bold; font-size: 18px"  for="exampleInputEmail1">Ophalen van</label>
                </div>
                <div class="form-group col-md-6">
                    <label style="font-weight: bold; font-size: 18px" for="exampleInputEmail1">Extra opties</label>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Straat</label>
                    <input type="text" name="bezorg_straat" class="form-control" id="bstraat" aria-describedby="emailHelp" placeholder="Straat">
                </div>
                <div class="form-group col-md-6">
                    <div class="form-check">
                        <input
                            type="checkbox"
                            v-model="verzekering"
                            true-value="1"
                            false-value="0"
                        >
                        <label class="form-check-label" for="exampleCheck1">Verzekering</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail1">Postcode</label>
                    <input type="text" name="bezorg_postcode" class="form-control" id="bpostcode" aria-describedby="emailHelp" placeholder="Postcode">
                </div>
                <div class="form-group col-md-2">
                    <label for="exampleInputEmail1">Huisnummer</label>
                    <input type="text" name="bezorg_huisnummer" class="form-control" id="bhuisnummer" aria-describedby="emailHelp" placeholder="Huisnummer">
                </div>
                <div class="form-group col-md-6">
                    <div class="form-check">
                        <input
                            type="checkbox"
                            v-model="spoed"
                            true-value="1"
                            false-value="0"
                        >
                        <label class="form-check-label" for="exampleCheck1">Spoed</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Woonplaats</label>
                    <input type="text" name="bezorg_woonplaats" class="form-control" id="bwoonplaats" aria-describedby="emailHelp" placeholder="Woonplaats">
                </div>
                <div class="form-group col-md-6">
                    <a class="btn btn-success" v-on:click="addTotal()">Prijs:  </a>
                    <a>{{total}}</a>
                </div>
            </div>

            <button type="submit" style="float: right" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: "pakket-toevoegen",
        data: function () {
            return {
                afemting: 0,
                gewicht: 0,
                spoed: 0,
                verzekering: 0,
                total: 'Maak eerste een keus',
                price: 0,
                spoedPrice: 0,
                verzekeringPrice: 0,
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            }
        },
        methods: {
            addTotal: function()
            {
                if (this.gewicht === '0 tot 12.5 kg'){
                    if (this.afemting === '38. 26,5. 3,2'){
                            this.price = 0;
                    } else{

                    }
                }
                else if (this.gewicht === '12.5 tot 25 kg'){
                    if (this.afemting === '38. 26,5. 3,2'){

                    } else{

                    }
                }
                else{
                    if (this.afemting === '38. 26,5. 3,2'){

                    } else{

                    }
                }
                if(this.spoed === 1){
                 this.spoedPrice =  this.price / 100 * 10
                    this.price = this.price + this.spoedPrice
                }

                if (this.verzekering === 1){
                    this.verzekeringPrice =  this.price / 100 * 20
                    this.price = this.price + this.verzekeringPrice
                }
                this.total = this.price
            }
        }
    }
</script>

<style scoped>

</style>
